
<div class="w3-content w3-container w3-padding-64" id="info">
  <div class="w3-content">
    <h1 class="w3-center "><b> Information </b></h1>
    <p><i> I hope you find this most informative. </i></p><br>
      <h2 class="w3-center"> Hotel and Transportation <h2/>
        <h3 class="w3-center"> The Venue - Schlitterbahn Resort SPI<h3/>
          <p>100 Padre Blvd, South Padre Island, TX 78597</p>
          <p><a href="https://www.schlitterbahn.com/south-padre-island/resort" >https://www.schlitterbahn.com/south-padre-island/resort </a></p>
        <h3 class="w3-center"> Other Hotels <h3/>
          <p><a href="https://www.airbnb.com/s/South-Padre-Island--TX--United-States/homes?refinement_paths%5B%5D=%2Fhomes&click_referer=t%3ASEE_ALL%7Csid%3Aff3f7ec2-3c29-4c3d-a0bf-e0b29acc6c92%7Cst%3ALANDING_PAGE_MARQUEE&title_type=NONE&place_id=ChIJ761vtJupb4YRIrPbw1yyW00&s_tag=fZUrlnjO&checkin=2020-02-21&checkout=2020-02-23">AirBnB</a></p>
        <h3 class="w3-center"> Airports <h3/>
          <p> If flying, we recommend flying into BRO and taking an Uber/Lyft to the hotel. </p>
          <h4> BROWNSVILLE SOUTH PADRE ISLAND AIRPORT (BRO) </h4>
            <p> 700 S. Amelia Earhart, Brownsville, TX 78501 </p>
          <h4> MCALLEN-MILLER INTERNATIONAL AIRPORT (MFE) </h4>
            <p> 2500 S. Bicentennial, McAllen, TX 78503 </p>
          <h4> VALLEY INTERNATIONAL AIRPORT (HRL) </h4>
            <p> 3002 Heritage Way, Harlingen, TX 78550 </p>
        <h3 class="w3-center"> Local Transportation <h3/>
      <h2 class="w3-center "> Stuff to Do <h2/>
        <h3 class="w3-center"> The Beach <h3/>
        <h3 class="w3-center"> Turtles, Inc. <h3/>
        <h3 class="w3-center"> Birding and Nature Center <h3/>
        <h3 class="w3-center"> Dolphin Watch <h3/>
        <h3 class="w3-center"> Dune Buggy and Golf Cart Rentals <h3/>
        <h3 class="w3-center"> Brownsville <h3/>
        <h3 class="w3-center"> Progresso <h3/>
  </div>
</div>
