

<!-- RSVP section -->
<div class="w3-content w3-container w3-padding-64 w3-center" id="other">
  <h1> Registry </h1>
  <p class="w3-large"> We are registered at our three favorite places: </p>
  <div class="w3-container w3-center">
    <h2> Registry </h2>
      <div class="w3-row w3-padding-64">
        <div class="w3-third">
          <a href="https://www.bedbathandbeyond.com/store/giftRegistry/viewRegistryOwner/myItems/547909643"><img src="/img/bedbath.jpg" style="width:90%"> </a>
        </div>
        <div class="w3-third">
          <a href="https://www.amazon.com/wedding/home?_encoding=UTF8&ref_=nav_wishlist_wr"><img src="/img/amazon.jpg" style="width:90%"> </a>
        </div>
        <div class="w3-third">
          <a href="https://www.target.com/gift-registry/giftgiver?registryId=7c145300544e4b89ae720028c758d156&type=WEDDING"><img src="/img/target.jpg" style="width:90%"> </a>
        </div>
     </div>
  </div>
