

<!-- RSVP section -->
<div class="w3-content w3-container w3-padding-64 w3-center" id="other">
  <h1> Other information </h1>
  <p class="w3-large"> Just a few more things: </p>
  <div class="w3-container w3-center">
    <h2> Registry </h2>
      <ul>
        <li> <a href="https://www.bedbathandbeyond.com/store/giftRegistry/viewRegistryOwner/myItems/547909643"> Bed, Bath, and Beyond </a> </li>
        <li> <a href="https://www.amazon.com/wedding/home?_encoding=UTF8&ref_=nav_wishlist_wr"> Amazon </a> </li>
        <li> <a href="https://www.target.com/gift-registry/giftgiver?registryId=7c145300544e4b89ae720028c758d156&type=WEDDING"> Target </a> </li>
      </ul>
  </div>
  <div class="w3-container w3-center">
    <h2> Photos </h2>
      <p>Out engagement photos can be found <a href="https://dreamakerspro.client-gallery.com/gallery/kimberly-2020">here</a>. Engangement photos and backround photos on this website are due to ... </p>
  </div>
</div>
