
<!-- Here we have the headers -->
<div class="w3-row">
  <div class="w3-container">
    <div class="w3-half">
      <h3>Bride's Party</h3>
    </div>
    <div class="w3-half">
      <h3>Groom's Party</h3>
    </div>
  </div>

  <!-- Becca and Stefan -->

  <!-- headshots -->
  <div class="w3-container">
    <div class="w3-half">
      <img class="w3-image" src="img/becca.jpg" alt="RLS" style="width:90%">
    </div>
    <div class="w3-half">
      <img class="w3-image" src="img/stefan.jpg" alt="RLS" style="width:90%">
    </div>
  </div>

  <!-- Bios -->
  <div class="w3-container">
    <div class="w3-half">
      {% capture my_include %}
        {% include becca.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
    <div class="w3-half">
      {% capture my_include %}
        {% include stefan.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
  </div>

  <!-- Ally and Yorgos -->

  <!-- headshots -->
  <div class="w3-container">
    <div class="w3-half">
      <img class="w3-image" src="img/ali.jpg" alt="RLS" style="width:90%">
    </div>
    <div class="w3-half">
      <img class="w3-image" src="img/yorgos.jpg" alt="RLS" style="width:90%">
    </div>
  </div>

  <!-- Bios -->
  <div class="w3-container">
    <div class="w3-half">
      {% capture my_include %}
        {% include ali.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
    <div class="w3-half">
      {% capture my_include %}
        {% include yorgos.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
  </div>

  <!-- Sylvia and Ethan -->

  <!-- headshots -->
  <div class="w3-container">
    <div class="w3-half">
      <img class="w3-image" src="img/sylvia.jpg" alt="SVB" style="width:90%">
    </div>
    <div class="w3-half">
      <img class="w3-image" src="img/ethan.jpg" alt="RLS" style="width:90%">
    </div>
  </div>

  <!-- Bios -->
  <div class="w3-container">
    <div class="w3-half">
      {% capture my_include %}
        {% include sylvia.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
    <div class="w3-half">
      {% capture my_include %}
        {% include ethan.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
  </div>

  <!-- Kat and Ellora -->

  <!-- headshots -->
  <div class="w3-container">
    <div class="w3-half">
      <img class="w3-image" src="img/kat.jpg" alt="RLS" style="width:90%">
    </div>
    <div class="w3-half">
      <img class="w3-image" src="img/ellora.jpg" alt="RLS" style="width:90%">
    </div>
  </div>

  <!-- Bios -->
  <div class="w3-container">
    <div class="w3-half">
      {% capture my_include %}
        {% include kat.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
    <div class="w3-half">
      {% capture my_include %}
        {% include ellora.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
  </div>

  <!-- James and Olivia -->

  <!-- headshots -->
  <div class="w3-container">
    <div class="w3-half">
      <img class="w3-image" src="img/olivia.jpg" alt="RLS" style="width:90%">
    </div>
    <div class="w3-half">
      <img class="w3-image" src="img/james.jpg" alt="RLS" style="width:90%">
    </div>
  </div>

  <!-- Bios -->
  <div class="w3-container">
    <div class="w3-half">
      {% capture my_include %}
        {% include olivia.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
    <div class="w3-half">
      {% capture my_include %}
        {% include james.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
  </div>

  <!-- Tabitha and Junior -->

  <!-- headshots -->
  <div class="w3-container">
    <div class="w3-half">
      <img class="w3-image" src="img/tabitha.jpg" alt="RLS" style="width:90%">
    </div>
    <div class="w3-half">
      <img class="w3-image" src="img/fernie.jpg" alt="RLS" style="width:90%">
    </div>
  </div>

  <!-- Bios -->
  <div class="w3-container">
    <div class="w3-half">
      {% capture my_include %}
        {% include tabitha.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
    <div class="w3-half">
      {% capture my_include %}
        {% include fernie.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
  </div>
