
<div class="w3-content w3-container w3-padding-64 w3-center" id="wedding">
  <div class="w3-content">
    <h1 class=""><b>THE WEDDING</b></h1>

    <div class="w3-row">
      <div class="w3-half">
        <h2>When</h2>
        <p>Ceremony: 3 p.m.</p>
        <p>Reception: 6 p.m.</p>
      </div>
      <div class="w3-half">
        <h2>Where</h2>
        <p> Schlitterbahn Resort Beach Access, South Padre Island, TX</p>
        <p> Sea4Ever Venue, Schlitterbahn Resort, South Padre Island, TX </p>
      </div>
      <div class="w3-row">
        <h2>Engagement Photos</h2>
        <p>Want to see our engagement photos? Click <a href="https://dreamakerspro.client-gallery.com/gallery/kimberly-2020">here</a> to see how GORGEOUS our photos came out. The session took place at South Padre Island at sunrise. Our beautiful engangement photos were taken by <a href="https://www.facebook.com/DreaMakersPhotoVideo/">DreaMakers Photography & Video</a>.</p>
  </div>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-col">
        <h3> Officiate <h3/>
          <p class="w3-large"> Rev. Jerry Couch </p>
      </div>
    </div>

      <div class="w3-col">
        <h3> Flower Girls and grandmother's of the groom <h3/>
          <ul>
            <li class="w3-large"> Eleanor Couch </li>
            <li class="w3-large"> Mary Holcomb </li>
          </ul>
      </div>

    <!- Brides Party and Groom's Party Bios -->
    {% include wedding_party.html %}

    </div>
  </div>
</div>
