
<!-- Here we have the headers -->
<div class="w3-row">
  <div class="w3-container">
    <div class="w3-half">
      <h3>Bride's Party</h3>
    </div>
    <div class="w3-half">
      <h3>Groom's Party</h3>
    </div>
  </div>

  <!-- Becca and Stefan -->

  <!-- headshots -->
  <div class="w3-container">
    <div class="w3-half">
      <img class="w3-image" src="img/pp_rls.jpg" alt="RLS" style="width:90%">
    </div>
    <div class="w3-half">
      <img class="w3-image" src="img/pp_sve.jpg" alt="RLS" style="width:90%">
    </div>
  </div>

  <!-- Bios -->
  <div class="w3-container">
    <div class="w3-half">
      {% capture my_include %}
        {% include about_rls.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
    <div class="w3-half">
      {% capture my_include %}
        {% include about_sve.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
  </div>

  <!-- Ally and Giorgos -->

  <!-- headshots -->
  <div class="w3-container">
    <div class="w3-half">
      <img class="w3-image" src="img/pp_ab.jpg" alt="RLS" style="width:90%">
    </div>
    <div class="w3-half">
      <img class="w3-image" src="img/pp_sve.jpg" alt="RLS" style="width:90%">
    </div>
  </div>

  <!-- Bios -->
  <div class="w3-container">
    <div class="w3-half">
      {% capture my_include %}
        {% include about_ab.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
    <div class="w3-half">
      {% capture my_include %}
        {% include about_gs.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
  </div>

  <!-- Sylvia and Ethan -->

  <!-- headshots -->
  <div class="w3-container">
    <div class="w3-half">
      <img class="w3-image" src="img/pp_svb.jpg" alt="SVB" style="width:90%">
    </div>
    <div class="w3-half">
      <img class="w3-image" src="img/pp_sve.jpg" alt="RLS" style="width:90%">
    </div>
  </div>

  <!-- Bios -->
  <div class="w3-container">
    <div class="w3-half">
      {% capture my_include %}
        {% include about_svb.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
    <div class="w3-half">
      {% capture my_include %}
        {% include about_el.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
  </div>

  <!-- Kat and Ellora -->

  <!-- headshots -->
  <div class="w3-container">
    <div class="w3-half">
      <img class="w3-image" src="img/pp_kia.jpg" alt="RLS" style="width:90%">
    </div>
    <div class="w3-half">
      <img class="w3-image" src="img/pp_sve.jpg" alt="RLS" style="width:90%">
    </div>
  </div>

  <!-- Bios -->
  <div class="w3-container">
    <div class="w3-half">
      {% capture my_include %}
        {% include about_kia.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
    <div class="w3-half">
      {% capture my_include %}
        {% include about_edc.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
  </div>

  <!-- James and Olivia -->

  <!-- headshots -->
  <div class="w3-container">
    <div class="w3-half">
      <img class="w3-image" src="img/pp_oms.jpg" alt="RLS" style="width:90%">
    </div>
    <div class="w3-half">
      <img class="w3-image" src="img/pp_sve.jpg" alt="RLS" style="width:90%">
    </div>
  </div>

  <!-- Bios -->
  <div class="w3-container">
    <div class="w3-half">
      {% capture my_include %}
        {% include about_oms.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
    <div class="w3-half">
      {% capture my_include %}
        {% include about_jl.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
  </div>

  <!-- Tabitha and Junior -->

  <!-- headshots -->
  <div class="w3-container">
    <div class="w3-half">
      <img class="w3-image" src="img/pp_rls.jpg" alt="RLS" style="width:90%">
    </div>
    <div class="w3-half">
      <img class="w3-image" src="img/pp_sve.jpg" alt="RLS" style="width:90%">
    </div>
  </div>

  <!-- Bios -->
  <div class="w3-container">
    <div class="w3-half">
      {% capture my_include %}
        {% include about_tiw.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
    <div class="w3-half">
      {% capture my_include %}
        {% include about_jc.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
  </div>
