<!DOCTYPE html>
<html lang="en">
<title>Josiah Couch</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<style>
body {font-family: "Lato", sans-serif}
h1{font-size:54px}
.row {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}
.column {
  float: left;
}
.left {
  width: 35%;
}
.right {
  width: 65%;
}
</style>

<body>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

<!-- Navbar -->
{% include w3-navbar.html %}

{{content}}

<!-- Footer -->
{% include footer.html %}

<!-- End Page Content -->

<!-- javascript -->
<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
